.skate {
  padding: 9.5rem 0 10rem;

  @media (max-width: $mobile) {
    padding: 0 0 7.2rem;
  }

  &__title {
    margin: 0 0 2.7rem;

    @media (max-width: $mobile) {
      margin: 0 0 1rem;
    }
  }

  &__box {
    position: relative;
    border-radius: 19px;
    background-color: $darkGreen;
    overflow: hidden;

    @media (max-width: $mobile) {
      border-radius: 12px;
    }
  }

  &__texture-vertical {
    position: absolute;
    right: 0;
    top: 0;
      width: 38rem;
    height: 100%;
    background-image: url(../img/texture2-vertical.png);
    background-size: 57.6rem;
    background-position: -1.8rem -4rem;
    border-bottom-left-radius: 19px;
    z-index: 1;

    @media (max-width: $mobile) {
      top: auto;
      bottom: 0;
      transform: rotate(180deg);
      height: 17rem;
      width: 100%;
      background-image: url(../img/texture2.png);
      background-repeat: repeat;
      background-position: 0 16.7rem;
      border-top-left-radius: 19px;
      border-top-right-radius: 19px;
      background-size: 34.2rem;
    }
  }

  &__decor {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;

    @media (max-width: $laptop) {
      width: 45%;
    }

    @media (max-width: $mobile) {
      width: 24.2rem;
    }
  }

  &__content {
    padding: 3.9rem 0 4.6rem 5rem;
    font-size: 2.2rem;
    line-height: 110%;
    font-family: $monserrat;
    max-width: 65rem;

    @media (max-width: $tablet) {
      padding: 3.8rem 0 6rem 3.8rem;
      max-width: 54.2rem;
    }

    @media (max-width: $mobile) {
      font-size: 1.4rem;
      padding: 2.1rem 2.1rem 21rem 2.1rem;
    }

    p {
      margin: 0;
      &:not(:last-child) {
        margin: 0 0 3rem;

        @media (max-width: $mobile) {
          margin: 0 0 1rem;
        }
      }
    }
  }

  &__time {
    display: inline-flex;
    color: $white;
    background-color: $red;
    border-radius: 19px;
    padding: 1rem 1.5rem;
    font-size: 5rem;
    line-height: 1.01;
    font-family: $mossport;
    text-transform: uppercase;
    width: auto;
    margin: 0 0 6rem;

    @media (max-width: $tablet) {
      font-size: 3rem;
    }

    @media (max-width: $mobile) {
      font-size: 3.6rem;
      padding: 0.5rem 1.5rem;
      text-align: center;
      margin-top: 2.9rem;
      border-radius: 12px;
      margin: 0 0 2rem;
    }
  }

  &__button {
    display: inline-flex;
    gap: 1rem;
    position: relative;
    border-radius: 21px;
    margin-top: 3rem;
    padding: 0.8rem 1.6rem !important;
    z-index: 5;
    background-color: $green;
    height: 3.5rem;

    &:hover {
      background-color: $darkGreen !important;
    }

    @media (max-width: $tablet) {
      width: auto;
      font-size: 1.8rem;
    }
  }
}
